//- FOOTER
footer(tabindex='28')
  div
    p(tabindex='29', title='©2019, Music Trivia. All rights reserved.')
    div
      img(tabindex='30', src='/img/facebook.png', alt='Music Trivia Facebook')
      img(tabindex='31', src='/img/twitter.png', alt='Music Trivia Twitter')
      img(tabindex='32', src='/img/instagram.png', alt='Music Trivia Instagram')
  ul
    li(tabindex='33', title='Help') Help
    p |
    li(tabindex='34', title='Music Trivia Privacy Policy')  Privacy
    p |
    li(tabindex='35', title='Music Trivia Terms of Use')  Terms of Use
script(src='/js/bootstrap.js')
script(src='/js/index.js')
